body {
  margin: 0px;
  -webkit-app-region: drag;
}

ul {
  list-style-type: none;
  margin: 18px;
  padding: 0px;
}

ul li a {
  text-decoration: none;
  color: #757575;
  font-size: 12px;
  font-family: 'Roboto';
}

li {
  margin: 6px;
}

.search-bar {
  height: 38px;
  border-bottom: thin solid #eee;
  border-top: thin solid #eee;
}

.title-bar {
  height: 22px;
}

.side-bar {
  display: inline-block;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 38px;
  border-right: thin solid #eee;
}
