:root {
  --dark-text-color: #616161;
  --medium-text-color: #757575;
  --light-text-color: #9E9E9E;
  --extra-light-text-color: #BDBDBD;
  --divider-color: #EEE;
}

body {
  margin: 0px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

ul {
  list-style-type: none;
  margin: 18px;
  padding: 0px;
}

ul li a {
  text-decoration: none;
  color: var(--light-text-color);
  font-weight: 500;
  font-size: 12px;
  font-family: 'Roboto';
}

div div a {
  text-decoration: none;
  color: var(--medium-text-color);
  font-weight: 500;
  font-size: 11px;
  font-family: 'Roboto';
  padding: 6px;
  margin-top: 12px;
  margin-left: 2px;
  margin-right: 2px;
  float: right;
  display: inline-block;
  border-radius: 2px;
}

li {
  margin: 6px;
}

.search-bar-container {
  padding-left: 20px;
  padding-right: 20px;
  height: 38px;
  border-bottom: thin solid var(--divider-color);
  border-top: thin solid var(--divider-color);
}

.search-bar {
  height: 38px;
  width: 590px;
  font-family: 'Roboto';
  font-size: 16px;
  color: var(--dark-text-color);
  border: none;
  outline: none;
  padding: 0px 0px 0px 2px;
  position: absolute;
}

.search-icon {
  margin: 7px !important;
  padding: 0 !important;
}

.material-icons.light-gray {
  color: var(--extra-light-text-color);
}

::-webkit-input-placeholder {
   color: var(--extra-light-text-color);
   font-family: 'Roboto';
}

.title-bar {
  height: 22px;
}

.side-bar {
  display: inline-block;
  height: 100%;
  top: 61px;
  width: 135px;
  overflow-y: scroll;
  position: fixed;
  border-right: thin solid var(--divider-color);
}

.icon-container {
  display: inline-block;
  top: 61px;
  left: 136px;
  padding: 22px;
  height: 396px;
  width: 500px;
  overflow: auto;
  position: fixed;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.icon-rounded-corners {
  padding: 8px;
  margin: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.button-selected {
  background: var(--divider-color);
}

.bottom-bar {
  position: fixed;
  z-index: 100;
  bottom: -50px;
  left: 136px;
  width: 544px;
  height: 50px;
  background: #FFF;
  border-top: thin solid var(--divider-color);
}

.sidebar-item-selected {
  font-weight: 700 !important;
  color: var(--dark-text-color);
}

.category-header {
  color: var(--light-text-color);
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  margin-left: 16px;
  margin-top: 26px;
  margin-bottom: 8px;
}

.icon-name {
  float: left;
  text-decoration: none;
  color: var(--medium-text-color);
  font-size: 11px;
  font-family: 'Roboto';
  margin-left: 12px;
  margin-top: 18px;
}

.vertical-divider {
  float: right;
  height: 30px;
  width: 1px;
  margin-top: 10px;
  background: var(--divider-color);
  margin-right: 6px;
  margin-left: 6px;
}

.circular-button-bg {
  margin-top: 9px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  float: right;
}

.circular-button {
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.button-white {
  background: #FFF;
  height: 18px;
  width: 18px;
  border: solid thin var(--light-text-color);
}

.button-black {
  background: #000;
  height: 20px;
  width: 20px;
}

.download-button {
  margin-top: 12px;
  margin-left: 2px;
  margin-right: 14px;
  float: right;
  cursor: pointer;
}
